* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

header>.container {
    display: flex;
    width: 980px;
    margin: 0 auto;
    align-items: center;

}

header {
    display: flex;
    align-items: center;
    background: #F8F8F8 0% 0% no-repeat padding-box;
    height: 265px;
}

.header-main-text {
    flex: 1.5;
    text-align: left;
    font: Regular 33px/42px Lora;
    font-size: 42px;
    letter-spacing: 0;
    color: #143774;
}

.header-plain-text {
    font: Bold 12px/13px Ubuntu;
    letter-spacing: 2.4px;
    color: #1792D2;
    text-transform: uppercase;
}

.nav {
    flex: 1;
    font: Bold 16px/18px Ubuntu;
    letter-spacing: 3.2px;
    color: #717171;
    text-transform: uppercase;
}

.nav>a {
    padding-right: 3%;
}

.nav :hover {
    border-bottom: 1px solid black;
}


main>.container {
    width: 980px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    grid-gap: 7%;
}

#main-pic {
    margin-top: 15px;
    background: url(img/life.jpg)no-repeat;
    height: 382px;
    position: relative;
    object-fit: cover;
}

.small-text {
    position: absolute;
    bottom: -10%;
    font: Regular 14px/19px Segoe UI;
    letter-spacing: 0;
    color: #707070;
}

.about-aside {
    margin-top: 15px;
    border: 20px solid #EBEBEB;
    height: 340px;
}

.main-text {
    padding: 10%;
    font: Bold 18px/28px Ubuntu;
    font-size: 20px;
    letter-spacing: 3.6px;

    text-transform: uppercase;
}

.main-text>a {
    color: #143774;
}

#about-pic {
    background: url(img/about-me.jpg) no-repeat;
    height: 100px;
    margin: 7% 7% 0 7%;
    background-size: contain;
}

.about-small-text {
    padding: 7%;
    text-align: left;
    letter-spacing: 0;
    color: #143774;
}

.post {
    margin-top: 7%;
    height: 188px;
    border-bottom: 1px solid #707070;
}

.post-main-text {
    text-align: left;
    font: Regular 28px/32px Lora;
    font-size: 24px;
    letter-spacing: 4.8px;
    color: #143774;
}

.post-plain-text {
    margin-top: 3%;
    font: Light 18px/28px Ubuntu;
    font-size: 18px;
    color: #707070;
    text-align: justify;
}

.post-link {
    margin-top: 3%;
    font: Bold 14px/28px Ubuntu;
    font-size: 14px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
}

.post-link>a {
    color: #1792D2;
}

.post-aside {
    border: 20px solid #EBEBEB;
    height: 650px;
}

#post-aside-pic1 {
    background: url(img/food.jpg) no-repeat;
    height: 100px;
    margin: 7% 7% 0 7%;
    background-size: contain;
}

.post-aside-plain-text {
    padding: 10%;
    font: Regular 18px/28px Lora;
    font-size: 18px;
    letter-spacing: 0;
    color: #143774;
    border-bottom: 1px solid #707070;
}

#post-aside-pic2 {
    background: url(img/work.jpg) no-repeat;
    height: 100px;
    margin: 7% 7% 0 7%;
    background-size: contain;
}

#post-aside-pic3 {
    background: url(img/deco.jpg) no-repeat;
    height: 100px;
    margin: 7% 7% 0 7%;
    background-size: contain;
}